body {
  background-color: rgb(253, 251, 251);
}

header {
  position: fixed;
  background-color: green;
  color: white;
  width: 100%;
  top: 0;
}

main {
  margin-top: 150px;
}

main img {
  width: 100px;
}

