body {
  background-color: rgb(253, 251, 251);
}

header {
  position: fixed;
  background-color: green;
  color: white;
  width: 100%;
  top: 0;
  text-align: center;
  z-index: 10;
}

#link-menu a {
  color: white;
  text-decoration: none;
}

#link-menu a:hover {
  text-decoration: underline;
}

#link-menu li {
  display: inline-block;
  margin: 0 10px;
}

.lado-esquerdo {
  margin-top: 150px;
  margin-left: 15%;
  width: 50%;
  padding: 10px;
}

.lado-direito {
  position: absolute;
  width: 30%;
  right: 10px;
  top: 150px;
  text-align: center;
  padding: 10px;
}

main img {
  width: 100px;
}

.article {
  width: 80%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgba(145, 67, 11, 0.993);
  line-height: 25px;
  font-size: 19px;
}

footer {
  background-color: green;
}

.table-course tr td {
  padding: 2px 15px;
}

.finished {
  background-color: lawngreen;
}

.table-head {
  border: 1px solid black;
}
