body {
  background-color: rgb(253, 251, 251);
}

header {
  position: fixed;
  background-color: green;
  color: white;
  width: 100%;
  top: 0;
  text-align: center;
}

#link-menu a {
  color: white;
  text-decoration: none;
}

#link-menu a:hover {
  text-decoration: underline;
}

#link-menu li {
  display: inline-block;
  margin: 0 10px;
}

main {
  margin-top: 150px;
}

main img {
  width: 100px;
}

